body {
	color: #444;
	font-family: 'Source Sans Pro', sans-serif;
}

header > *, footer > * {
	line-height: 3rem;
	margin: 0 1rem;
}

header {
	position: fixed;
	top: 0;
}

header h1 {
	color: #ccc;
	font-size: 1rem;
	font-weight: 900;
	text-transform: uppercase;
}

footer {
	bottom: 0;
	color: #ccc;
	font-size: 0.8rem;
	position: fixed;
}

main {
	bottom: 3rem;
	left: 0;
	position: fixed;
	right: 0;
	top: 3rem;
}

#post-list {
	bottom: 0;
	left: 0;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 30%;
}

#post-editor {
	bottom: 0;
	box-sizing: border-box;
	padding: 0 1rem;
	position: absolute;
	right: 0;
	top: 0;
	width: 70%;
}

