.list-boxes {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-boxes > li {
	border-top: 1px solid #eee;
	cursor: pointer;
	line-height: 1.2;
	padding: 0.5rem 1rem;
}

.list-boxes > li:hover {
	background-color: #fcfcfc;
}

.list-boxes > li h2 {
	font-size: 1rem;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list-boxes > li .meta {
	color: #999;
	font-size: 0.8rem;
}

button,
input,
textarea {
	background-color: #fafafa;
	border: 0;
	line-height: 1.4;
	padding: 0.5rem 1rem;
}

button:focus,
button:hover,
input:focus,
input:hover,
textarea:focus,
textarea:hover {
	background-color: #f8f8f8;
	outline: 0;
}

.text-editor-form {
	display: flex;
	height: 100%;
	flex-direction: column;
	font-size: 0.85rem;
}

.text-editor-title {
	font-weight: bold;
}

.text-editor {
	flex-grow: 1;
}

.text-editor-title,
.text-editor {
	font-family: source code pro;
	margin-bottom: 0.5rem;
}
