.list-boxes {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-boxes > li {
	border-top: 1px solid #eee;
	cursor: pointer;
	line-height: 1;
	padding: 0.5rem 1rem;
}

.list-boxes > li:hover {
	background-color: #fcfcfc;
}

.list-boxes > li h2 {
	font-size: 1rem;
	margin: 0;
	line-height: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list-boxes > li .meta {
	color: #999;
	font-size: 0.8rem;
	line-height: 1rem;
}

/* button { */
/* 	border: 0; */
/* 	border-bottom: 2px solid #F38630; */
/* 	background-color: #FA6900; */
/* 	color: #FFF; */
/* 	font-size: 0.8rem; */
/* 	font-weight: 600; */
/* 	padding: 0.5rem 1rem; */
/* 	text-transform: uppercase; */
/* } */

.text-editor-form {
	display: flex;
	height: 100%;
	flex-direction: column;
	font-family: source code pro;
	font-size: 0.85rem;
}

.text-editor-title {
	font-weight: bold;
	margin-bottom: 1rem;
}

.text-editor {
	flex-grow: 1;
}

.text-editor-title,
.text-editor {
	background-color: #fafafa;
	border: 0;
	line-height: 1.4;
	padding: 1rem;
}
